
<!-- Required meta tags -->
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Plugin css for this page -->
<link rel="stylesheet" href="{% static 'auth/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'auth/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'auth/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'auth/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'auth/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'auth/js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'auth/css/vertical-layout-light/style.css' %}">
  <!-- Data Table -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/r-2.3.0/datatables.min.css"/>

  <!-- endinject -->
  <link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{% static 'assets/img/favicons/logo.png' %}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{% static 'assets/img/favicons/logo.png' %}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{% static 'assets/img/favicons/logo.png' %}"
/>
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="{% static 'assets/img/favicons/logo.png' %}"
/>
<link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}" />
<meta
  name="msapplication-TileImage"
  content="{% static 'assets/img/favicons/mstile-150x150.png' %}"
/>
<meta name="theme-color" content="#ffffff" />
