{% load static %}
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->

  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{% static 'assets/img/favicons/logo.png' %}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{% static 'assets/img/favicons/logo.png' %}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{% static 'assets/img/favicons/logo.png' %}"
  />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{% static 'assets/img/favicons/logo.png' %}"
  />
  <link rel="manifest" href="{% static 'assets/img/favicons/logo.png' %}" />
  <meta
    name="msapplication-TileImage"
    content="{% static 'assets/img/favicons/logo.png' %}"
  />
  <meta name="theme-color" content="#ffffff" />

  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />
</head>
