{% load static %}
<nav
class="navbar navbar-expand-lg navbar-light fixed-top py-3 backdrop"
data-navbar-on-scroll="data-navbar-on-scroll"
>
<div class="container">
  <a
    class="navbar-brand d-flex align-items-center fw-semi-bold fs-3"
    href="#"
  >
    <img class="me-3" src= "{% static 'assets/img/gallery/logo.png' %}" alt="logo" />
    <div class="text-primary font-base">e-RETRIEVE</div>
  </a>
  <button
    class="navbar-toggler collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
      <li class="nav-item">
        <a
          class="nav-link fw-medium active"
          aria-current="page"
          href="{% url 'auth:home' %}"
          >Home</a
        >
      </li>

    </ul>
    <form class="ps-lg-5">
      <a
        class="btn btn-lg btn-primary rounded-pill bg-gradient font-base order-0"
        href="{% url 'auth:login' %}"
        >Get Started</a
      >
    </form>
  </div>
</div>
</nav>