{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
 {% block title %} Register {%endblock %}

  {% block head %} {% include 'partials/auth_head.html' %} {% endblock %}

  {% block body %}

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <a href="{% url 'auth:home' %}">
                  <img src="{% static 'auth/images/logo.svg' %}" alt="logo">
                </a>
              </div>

              <h4>New here?</h4>
              <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>

              {% include 'partials/messages.html' %}

              <form class="pt-2" method="post">
                {% csrf_token %}

                {{form|crispy}}

                <div class="mt-5">
                  <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">REGISTER</button>
                </div>

                <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a href="{% url 'auth:login' %}" class="text-primary">Login</a>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

  {% include 'partials/auth_script.html' %}


</body>

{% endblock %}

