{% extends 'base.html' %}
{% load static %}
 {% block title %} Manage Admin {%endblock %}
 {% load crispy_forms_tags %}

  {% block head %} {% include 'partials/auth_head.html' %} {% endblock %}

  {% block body %}

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'partials/auth_nav.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      {% include 'partials/auth_sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <h4 class="fw-bold py-3 mb-1"><span class="text-muted fw-light">administrator /</span> manage admin</h4>

          <div class="">
            <button type="button" class="btn rounded-pill btn-primary float-right" data-toggle="modal"
            data-target="#backDropModal2">
              <span class="tf-icons bx bx-pie-chart-alt"></span>&nbsp; Create an administrator
            </button>
          </div>
          <br>
          <br>
          <br>

          {% include 'partials/messages.html' %}
          <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Manage administrator</h4>
                    <p class="card-description">
                      use the <code>.table </code>below to manage system administrator
                    </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <th>S/N</th>
                        <th>Username</th>
                        <th>Pics</th>
                        <th>Name</th>
                        <th>Actions</th>
                      </thead>
                      <tbody>
                        {% if object_list %}

                        {% for object in object_list  %}

                          <tr>

                            <td>
                              <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>{{forloop.counter}}</strong>
                            </td>
                            <td>{{ object.username }}</td>
                            <td>
                              <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">

                                <li
                                  data-bs-toggle="tooltip"
                                  data-popup="tooltip-custom"
                                  data-bs-placement="top"
                                  class="avatar avatar-xs pull-up"
                                  title="{{object.name}}"
                                >
                                  <img src="{{object.pics.url}}" alt="Avatar" class="rounded-circle" />
                                </li>
                              </ul>
                            </td>
                            <td>{{ object.name|upper }}</td>
                            <td>
                              <a href="{% url 'auth:update_admin' object.pk %}" class="btn btn-sm btn-outline-success btn-icon-text">
                                <i class="ti-reload btn-icon-prepend"></i>
                                Update
                              </a>
                            </td>
                          </tr>

                        {% endfor %}

                      {% else %}

                      <tr>
                        <td colspan="12">
                          <div class="jumbotron text-center p-5">
                            <!-- illustration can be used here too -->
                            <p style="font-size: 4em;">📂</p> <br>
                            <p style="font-size: 1.3em; margin-top: -1px;">No Adminstrators Record Here!</p>
                          </div>
                        </td>
                      </tr>

                      {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
      {% include 'partials/auth_footer.html' %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- Modal 2: Single-->
  <div class="modal fade" id="backDropModal2" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
      <form class="modal-content" enctype="multipart/form-data" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="backDropModalTitle">Create an Adminstrators</h5>
          <button type="button" class="close" data-dismiss="modal"><span>×</span>
          </button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          {{ form1|crispy }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" name="single" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>

  {% include 'partials/auth_script.html' %}

</body>

{% endblock %}

